html,body,#webpage{
	min-height:100%;
	width:100%;
	margin:0;
}
#webpage{

}
#container{
	background-color:#000000;
	height:204px;
	width:204px;
	margin:8px;
}
#canvas{
	background-color:#ffffff;
	border:solid 2px black;
}