html,body,#webpage{
	min-height:100%;
	width:100%;
	margin:0;
}
#webpage{

}
#sidebar{
	float:left;
	text-align:center;
	background-color:white;
	border:solid 2px #000000;
	margin:8px;
	width:calc(20% - 20px);
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}
#primary,#secondary{
	position:relative;
	height:40px;
	width:40px;
	border:solid 1px #000000;
}
#primary{
	left:calc(50% - 8px);
	top:32px;
	z-index:0;
	background-color:#000000;
}
#secondary{
	bottom:32px;
	left:calc(50% - 32px);
	z-index:0;
	background-color:#FFFFFF;
}
#sidebar .active{
	z-index:1;
}
#BW{
	position:relative;
	bottom:1px;
}
table{
	margin:auto;
	border-collapse:collapse;
	border-color:#000000;
}
#commands{
	margin-top:8px;
}
#zoom{
	margin:8px 0;
}
#interpreterControls{
	margin:8px 0;
}
.iconContainer{
	display:inline-block;
	background-color:#EEEEEE;
	border:solid 1px #DDDDDD;
	border-bottom-width:3px;
	border-radius:2px;
	width:40px;
	height:40px;
	margin:0 4px;
}
.iconContainer:hover{
	background-color:#D2D2D2;
	border-color:#BBBBBB;
	position:relative;
	top:1px;
	border-bottom-width:2px;
}
.iconContainer:active{
	top:2px;
	border-bottom-width:1px;
}
.icon{
	display:inline-block;
	height:18px;
	width:16px;
	margin:11px auto 11px auto;
}
#zoom_in,#zoom_out{
	margin:7.5px;
	height:25px;
	width:25px;
}
#zoom_in{
	background-image:url(https://cloud.githubusercontent.com/assets/3758652/3621832/41fb2b4c-0e20-11e4-9cb8-6de87e90183a.png);
}
#zoom_out{
	background-image:url(https://cloud.githubusercontent.com/assets/3758652/3621833/43405a7c-0e20-11e4-9a22-4c5febe8bdf4.png);
}
#play{
	background-image:url(https://cloud.githubusercontent.com/assets/3758652/3621834/4fd3bc84-0e20-11e4-97a9-b4ebd64c009a.png);
}
#step{
	background-image:url(https://cloud.githubusercontent.com/assets/3758652/3621837/5a09759a-0e20-11e4-84f1-3a4328c5afd8.png);
}
#stop{
	background-image:url(https://cloud.githubusercontent.com/assets/3758652/3621835/53a882c2-0e20-11e4-9f42-a1daf3c650b5.png);
}
#container{
	background-color:#000000;
	height:202px;
	width:202px;
	margin:8px;
	margin-left:20%;
}
#canvas{
	background-color:#ffffff;
	border:solid 2px black;
	border-left-width:1px;
	border-top-width:1px;
}
@media screen and (max-width:1175px){
	#sidebar{
		width:calc(30% - 20px);
	}
	#container{
		margin-left:30%;
	}
}
@media screen and (max-width:785px){
	#sidebar{
		width:calc(40% - 20px);
	}
	#container{
		margin-left:40%;
	}
}
#LR{
	background-color:#FFC0C0;
}
#R{
	background-color:#FF0000;
}
#DR{
	background-color:#C00000;
	color:#FFFFFF;
}
#LY{
	background-color:#FFFFC0;
}
#Y{
	background-color:#FFFF00;
}
#DY{
	background-color:#C0C000;
	color:#FFFFFF;
}
#LG{
	background-color:#C0FFC0;
}
#G{
	background-color:#00FF00;
}
#DG{
	background-color:#00C000;
}
#LC{
	background-color:#C0FFFF;
}
#C{
	background-color:#00FFFF;
}
#DC{
	background-color:#00C0C0;
	color:#FFFFFF;
}
#LB{
	background-color:#C0C0FF;
}
#Blue{
	background-color:#0000FF;
	color:#FFFFFF;
}
#DB{
	background-color:#0000C0;
	color:#FFFFFF;
}
#LM{
	background-color:#FFC0FF;
}
#M{
	background-color:#FF00FF;
	color:#FFFFFF;
}
#DM{
	background-color:#C000C0;
	color:#FFFFFF;
}
#W{
	background-color:#FFFFFF;
	color:#000000;
}
#Black{
	background-color:#000000;
	color:#FFFFFF;
}